In [1]:
#package:
import pandas as pd
from loan_amortization import calculate_amortization

In [2]:
from pprint import pprint

# Calculate amortization using the function from your package
result = calculate_amortization(principal=10000, annual_interest_rate=5, years=2)
loan_table=pd.DataFrame(result)
loan_table

    Period  Monthly Payment  Interest  Principal  Balance
0        1           438.71     41.67     397.05  9602.95
1        2           438.71     40.01     398.70  9204.25
2        3           438.71     38.35     400.36  8803.89
3        4           438.71     36.68     402.03  8401.86
4        5           438.71     35.01     403.71  7998.15
5        6           438.71     33.33     405.39  7592.76
6        7           438.71     31.64     407.08  7185.69
7        8           438.71     29.94     408.77  6776.91
8        9           438.71     28.24     410.48  6366.44
9       10           438.71     26.53     412.19  5954.25
10      11           438.71     24.81     413.90  5540.34
11      12           438.71     23.08     415.63  5124.71
12      13           438.71     21.35     417.36  4707.35
13      14           438.71     19.61     419.10  4288.25
14      15           438.71     17.87     420.85  3867.41
15      16           438.71     16.11     422.60  3444.81
16      17           438.71     14.35     424.36  3020.45
17      18           438.71     12.59     426.13  2594.32
18      19           438.71     10.81     427.90  2166.41
19      20           438.71      9.03     429.69  1736.73
20      21           438.71      7.24     431.48  1305.25
21      22           438.71      5.44     433.28   871.97
22      23           438.71      3.63     435.08   436.89
23      24           438.71      1.82     436.89    -0.00